<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Insertar registro 
	</summary>

	<log>false</log>

		<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<!-- <colname>smn_diagnostico_cab_auto_id</colname> -->
			<!-- <colname>did_observacion</colname> -->
		
		</cols>
		<table>smn_automotriz.smn_ingresos</table>
		<oper>AÑADIR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>select ${seq:currval@smn_automotriz.seq_smn_ingresos} as id</pkey>
	</audit>


	 <colname>smn_sintoma_id</colname>
	 <sql-template>insert-query-smn_ingresos_sintomas.sql</sql-template>
	 <colname>smn_observaciones_ingresos_id</colname>
	 <sql-template>insert-query-smn_ingresos_observaciones.sql</sql-template>

	<transaction>
		<classname>domain.admin.InsertMaster</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="nextval.sql" source="sql" scope="transaction" />
		
	</transaction>

	<query>insert.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_request" />
		<print mode="form" recordset="nextval.sql" />
	</output>
	
	<!-- Envio de email declarativo -->
	<mail enabled="false">
		<subject>Subject</subject>
		<mail-to>yjog@simone.com.ve</mail-to>
		<body html="true" images="logo-dinamica.png">body.txt</body>
	</mail>

</config>
