<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		ACTUALIZAR registro de una tabla
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>true</jdbc-log>
				<recordset id="ingreso_paciente" source="session" scope="transaction" />
	</transaction>

	<query>insert_diagnostico.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
				<print mode="form" recordset="ingreso_paciente" />
	</output>


</config>
