<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<!-- <col width='3%'/> -->
	<col width='3%'/>
	<col width='12%'/>
	<col width='9%'/>
	<col width='20%'/>
	<col width='10%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='10%'/>
	<col width='15%'/>
	<col width='3%'/>
	<col width='3%'/>
	<!-- <col width='3%'/> -->

	<!--toolbar-->
	<tr>
		<th colspan="13" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<!-- <th></th> -->
		<th></th>
		<th class='sortable' onclick='sortBy("documento","query-smnprestacionserviciomedicocabecera.sql")'>DOCUMENTO</th>
		<th class='sortable' onclick='sortBy("document_num_ingreso","query-smnprestacionserviciomedicocabecera.sql")'>DOC NUM INGRESO</th>
		<th class='sortable' onclick='sortBy("smn_unidades_servicios_rf","query-smnprestacionserviciomedicocabecera.sql")'>UNIDAD DE SERVICIO</th>
		<th class='sortable' onclick='sortBy("ticket","query-smnprestacionserviciomedicocabecera.sql")'>TICKET</th>
		<th class='sortable' onclick='sortBy("documento_identidad","query-smnprestacionserviciomedicocabecera.sql")'>Documento Identidad</th>
		<th class='sortable' onclick='sortBy("nombre_paciente","query-smnprestacionserviciomedicocabecera.sql")'>Nombre Paciente</th>
		<th class='sortable' onclick='sortBy("prestador","query-smnprestacionserviciomedicocabecera.sql")'>Prestador</th>
		<th class='sortable' onclick='sortBy("psc_estatus","query-smnprestacionserviciomedicocabecera.sql")'>${lbl:b_status}</th>
		<th class='sortable' onclick='sortBy("psc_fecha_registro","query-smnprestacionserviciomedicocabecera.sql")'>${lbl:b_store_date}</th>
		<th>HO</th>
		<th>IT</th>
		<!-- <th>SE</th>
	</tr> -->

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_prestacion_servicio_medico_cabecera_id}')" title="${lbl:b_view_detail}"></td>
		<!-- <td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_prestacion_servicio_medico_cabecera_id}')" title="${lbl:b_delete_button}"></td> -->
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor_2('${fld:smn_prestacion_servicio_medico_cabecera_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:documento}</td>
		<td>${fld:document_num_ingreso}</td>
		<td>${fld:smn_unidades_servicios_rf}</td>
		<td>${fld:ticket}</td>
		<td>${fld:documento_identidad}</td>
		<td>${fld:nombre_paciente}</td>
		<td>${fld:prestador}</td>
		<td align='center'>${fld:psc_estatus}</td>
		<td>${fld:psc_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="detalle_ho('${fld:smn_prestacion_servicio_medico_cabecera_id}','${fld:nombre_paciente}','${fld:smn_prestador_servicio_rf}','${fld:smn_grupo_prestador_rf}')" title="${lbl:b_detail_medic_provider_services}"></td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="detalle_it('${fld:smn_prestacion_servicio_medico_cabecera_id}','${fld:nombre_paciente}','${fld:smn_prestador_servicio_rf}','${fld:smn_grupo_prestador_rf}')" title="${lbl:b_detail_medic_provider_services}"></td>
		<!-- <td><img src="${def:context}/images/view-list-details.png" onclick="detalle_se('${fld:smn_prestacion_servicio_medico_cabecera_id}','${fld:nombre_paciente}')" title="${lbl:b_detail_medic_provider_services}"></td> -->

	</tr>
	</rows>

</table>
