<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>


	<!--toolbar-->
	<tr>
		<th colspan="8" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_ingresos_id","query-smndiagnosticocabauto.sql")'>${lbl:b_income}</th>
		<th class='sortable' onclick='sortBy("smn_clase_auxiliar_rf_combo","query-smndiagnosticocabauto.sql")'>${lbl:b_auxiliary_class}</th>
		<th class='sortable' onclick='sortBy("smn_auxiliar_rf_combo","query-smndiagnosticocabauto.sql")'>${lbl:b_auxiliary}</th>
		<th class='sortable' onclick='sortBy("dia_estatus_combo","query-smndiagnosticocabauto.sql")'>${lbl:b_status}</th>
		<th class='sortable' onclick='sortBy("dia_fecha_registro","query-smndiagnosticocabauto.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_diagnostico_cab_auto_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_diagnostico_cab_auto_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_diagnostico_cab_auto_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_ingresos_id}</td>
		<td>${fld:smn_clase_auxiliar_rf_combo}</td>
		<td>${fld:smn_auxiliar_rf_combo}</td>
		<td align='center'>${fld:dia_estatus_combo}</td>
		<td>${fld:dia_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
