<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo del resultado
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smncoberturas.sql" />
	<set-request-attribute id="paging.pagesize" value="5" />

	<transaction>
		<classname>dinamica.GenericSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>cob_codigo;cob_descripcion;cob_horario_dias;cob_horario_horas;cob_area_cobertura;cob_descuento;cob_tiempo_servicio;cob_deducible;cob_time_desp_afil;cob_otros_centros;cob_cantidad_servicio;cob_vigencia_desde;cob_vigencia_hasta;cob_cobertura_desde;cob_cobertura_hasta;cob_deducible_centro;cob_porc_deducible;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
