<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smndiagnosticodetestrucitem.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_diagnostic_det_estruc_item}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_diagnostic_det_estruc_item}">
				<col id='smn_diagnostico_det_auto_id_combo' label='${lbl:b_diagnostig_det}' />
		<col id='smn_componentes_rf_combo' label='${lbl:b_component}' />
		<col id='smn_item_rf_combo' label='${lbl:b_item}' />
		<col id='smn_diagnostico_det_auto_id_combo' label='${lbl:b_diagnostig_det}' />
		<col id='smn_componentes_rf_combo' label='${lbl:b_component}' />
		<col id='smn_item_rf_combo' label='${lbl:b_item}' />

	</sheet>
	
	</excel>

</config>
